:root {
    --bg-dark: #121212;
    --card-dark: #181818;
    --spotify-green: #1DB954;
    --text-white: #FFFFFF;
    --text-gray: #B3B3B3;
}

body {
    color: var(--text-white);
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Untuk background */
    background: 
        radial-gradient(circle at left top, rgba(0, 255, 128, 0.089), transparent 500px),
        var(--bg-dark); /* base hitam */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 90%;
    max-width: 500px;
    text-align: center;
}

/* Font italic hijau untuk variasi font */
.green { 
    color: var(--spotify-green); 
    font-style: italic;
    font-family: 'Instrument Serif', sans-serif;
    font-weight: 400;
}

h1 { 
    font-size: 3rem; 
    margin-bottom: 8px; 
}

h2 {
    font-size: 2.3rem;
}

p { 
    color: var(--text-gray); 
    margin-bottom: 30px; 
    font-size: 14px;
}

button {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 16px 28px;
  border-radius: 50px;
  background: linear-gradient(135deg, rgba(0, 255, 128, 0.363),rgba(29, 185, 84, 0.6), rgba(0, 255, 128, 0.185));
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1.2rem;
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.buttonHome {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  align-items: center; 
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 40px rgba(0, 255, 128, 0.3);
}

.hidden { display: none; }

.card {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.007),rgba(227, 255, 237, 0.089), rgba(241, 255, 248, 0.041), rgba(227, 255, 237, 0.178));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 24px;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.card h3{
    font-size: 1.5rem;
}
.tracks ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.tracks li {
    padding: 8px 0;
    color: var(--text-white);
    font-size: 0.9rem;
}

/* Personality Analize */
.analysis p {
    color: var(--text-white);
    line-height: 1.6;
    font-style: italic;
    margin: 0;
}

.analysis:hover {
    transform: translateY(-5px) scale(1.02); 
    border-color: var(--spotify-green); 
    box-shadow: 0 8px 25px rgba(27, 223, 95, 0.4); 
    padding-left: 25px; 
    transition: 1s;
}

footer { 
    margin-top: 40px; 
    font-size: 0.8rem; 
}

/* Daftar track 5 lagu teratas */
.track-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 15px 20px; 
    cursor: pointer;
    transition: all 0.3s ease; 
    font-size: 0.95rem;
    background-color: #181818;
    margin-top: 10px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    border: 1px solid transparent; 
}

.track-item:hover {
    transform: translateY(-5px) scale(1.02); 
    background-color: #282828; 
    border-color: var(--spotify-green); 
    box-shadow: 0 8px 25px rgba(27, 223, 95, 0.4); 
    padding-left: 25px; 
}

.play-icon {
    font-size: 0.8rem;
    opacity: 0;
    transition: 0.2s;
}

.track-item:hover .play-icon {
    opacity: 1;
}

/* Spotify player terintegrasi API */
#spotifyPlayer {
    min-height: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

/* Style background dengan efek blur */
.trail-particle {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1; /* Simpan di belakang teks/tombol*/
    background: radial-gradient(circle, var(--spotify-green) 0%, transparent 70%);
    filter: blur(15px); 
    mix-blend-mode: screen; 
    box-shadow: 0 0 50px 20px #19be531a; 
    transform: translate(-50%, -50%);
    transition: transform 1s ease-out, opacity 1s ease-out, filter 1s ease-out;
}

/* Fitur Find My Music */
#find-music-section {
    display: none;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: flex;
    flex-direction: column;
    color: var(--text-gray);
    margin-bottom: 8px;
    font-size: 0.85rem;
    font-weight: 600;
}

#musicForm button {
    margin: auto;
}

.input-group input, 
.input-group select {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 15px;
    background-color: #282828; /* Lebih terang sedikit dari card */
    border: 1px solid transparent;
    border-radius: 8px;
    color: white;
    font-family: inherit;
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

/* Efek saat input diklik/fokus */
.input-group input:focus, 
.input-group select:focus {
    outline: none;
    border-color: var(--spotify-green);
    background-color: #333;
    box-shadow: 0 0 10px rgba(29, 185, 84, 0.2);
}
